body{
    background-color: black;
}
h1{
    background-color: rgb(58, 39, 228);
    display: inline-block;
    width: auto;
    margin:  10px 20px;
    padding: 8px;
    position: relative; left: 500px;
}
p,h4{
    background-color: rgb(58, 39, 228);
    display: inline-block;
    width: auto;
    margin:  10px 20px;
    padding: 8px;
    font-size: 20px;
    
    text-transform: capitalize;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: rgb(58, 39, 228);
    display: inline-block;
    width: 96%;
    margin:  10px 20px;
    padding: 8px;
}
h5{
    background-color: rgb(58, 39, 228);
    display: inline-block;
    width: auto;
    margin:  10px 20px;
    padding: 8px;
    font-size: 22px;
    position: absolute;
    left: 600px;
     top: 395px;
}
h3{
    font-weight: bold;
    font-size: 23px;
}
ul > li{
list-style-type: circle;
}
ol{
    list-style-type: upper-latin;
}
.menu{
    width: 100%;
    background: #ccc;
list-style: none;
margin: 0;
padding:0;
}
.menu li{
    display: inline-block;
}
.menu li a{
    padding: 10px 20px;
}
 form {
    width: 25%;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
  }
  
  label {
    font-size: 12px;
    display: block;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  input, textarea {
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  input:focus, textarea:focus {
    border: 1px solid #1668c4;
  }
  
  input[type="submit"] {
    margin-bottom: 0;
    background: #1668c4;
    color: #fff;
    border: none;
  }
 input[type="submit"]:hover{
      background: #4a88f4;
      cursor:pointer;
  }
  table{
      border: 1px solid black;
      border-collapse: collapse;
      width: 500px;
    }
    table td{
        border: 1px solid black;
        padding: 20px;
    }
    table tr:hover{
        background-color: #ccc;
    }
    table td:hover{
        background-color: black;
        color: white;
    }
